.primaryButton {
    color: var(--color-primary);
    border-radius: 4px;
    background: white;
    width: 132px;
    height: 43px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transition: background-color 0.2s ease-in;
}

.primaryButton:hover {
    background: gainsboro;
}