.Modal {
  position: fixed;
  background-color: grey;
  opacity: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  transition: opacity 0.4s ease-in;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal_open {
  pointer-events: visible;
  opacity: 1;
}

.Modal-Content {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: scale(0);
  opacity: 0;
  transform-origin: 50% 50%;
  transition: transform 400ms ease, opacity 400ms linear; /* Update bezier curve for snappier feel */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 10px solid var(--color-beige);
}

.Modal-Content_open {
  opacity: 1;
  transform: scale(1);
}

.Modal-Body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Modal-ImageContainer {
  width: 100%;
  height: 40%;
  max-height: 40%;
}

.Modal-ProductContainer {
  flex: 1;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  padding: 40px 20px;
  overflow-y: scroll;
}

.Modal-BodyImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.Modal-ActionButton {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 10px;
}

.Modal-CloseButton {
  position: absolute;
  cursor: pointer;
  right: 16px;
  top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
}

.Modal-CloseButton:before,
.Modal-CloseButton:after {
  position: absolute;
  content: " ";
  top: 9px;
  height: 32px;
  width: 2px;
  background-color: #333;
}

.Modal-CloseButton:before {
  transform: rotate(45deg);
}

.Modal-CloseButton:after {
  transform: rotate(-45deg);
}

@media (min-width: 400px) {
  .Modal-Content {
    max-width: 90%;
    max-height: 90%;
    border-radius: 15px;
  }
}

@media (min-width: 590px) {
  .Modal-ProductContainer {
    padding: 40px;
  }

  .Modal-ImageContainer {
    height: 100%;
    max-height: 40%;
  }
}

@media (min-width: 768px) {
  .Modal-ImageContainer {
    max-height: 60%;
  }
}

@media (min-width: 900px) {
  .Modal-Body {
    flex-direction: row;
  }

  .Modal-ActionButton {
    position: relative;
  }

  .Modal-ImageContainer {
    min-width: 55%;
    width: 55%;
    max-width: 55%;
    max-height: 100%;
  }

  .Modal-CloseButton {
    background: transparent;
  }
}
