/* CSS reset */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS reset */

body {
  margin: 0;
  font-family: "Axiforma", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  --color-primary: #140ca3;
  --color-accent: #fef2f4;
  --color-grey: #525761;
  --color-beige: #faf0e6;
  --color-limeousine: #dcf995;
  --color-offblack: rgba(0, 0, 0, 0.75);
  --gutter: 1em;
}

h1,
h2,
.highlight {
  font-family: "Roc Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
}

@media (min-width: 0px) {
  .withGutter {
    max-width: 264px;
  }
}

@media (min-width: 400px) {
}

@media (min-width: 590px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .withGutter {
    max-width: 552px;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  .withGutter {
    /*max-width: 750px;*/
    max-width: 844px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }

  .withGutter {
    max-width: 1130px;
  }
}

/* Colours */
.grey {
  color: var(--color-grey);
  opacity: 0.8;
}

.offBlack {
  color: var(--color-offblack);
}

.hyperlink {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-primary);
  opacity: 0.8;
}

.leftAlign {
  text-align: start;
}

.rightAlign {
  text-align: end;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 28px;
}

.strikeThrough {
  text-decoration: line-through;
}

.hidden {
  visibility: hidden;
}

@font-face {
  font-family: "Roc Grotesk";
  src: local("Roc Grotesk"), url(./assets/fonts/RocGrotesk.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Axiforma";
  src: local("Axiforma"), url(./assets/fonts/Axiforma.otf) format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Axiforma";
  font-weight: bold;
  src: local("Axiforma"), url(./assets/fonts/Axiforma-bold.otf) format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
